.bluetext {
      color:blue;
    }
  .boldtext {
      font-weight: bold;
    }
.stripedblue {
      color:#007FFF;
      background-color:#DBE9F4;
    }
.stripedbeige {
      color:#CC0000;
      background-color:#F5F5DC;
    }
